body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
#navbar {
    background: linear-gradient(to bottom, #3b5998 0%,#4b77be 100%);
    color: white;
    padding: 10px 0;
    padding-left: 15px;
}
#navbar h1 {
    margin: 0;
}
#dropdown {
    background-color: #3b5998;
    overflow: hidden;
}
#dropdown a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#main-content, #secondary-content {
    width: 45%;
    padding: 2%;
}
#content-wrapper {
    display: flex;
    justify-content: space-around;
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}